In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Upernavik,GL,2021-03-29 19:51:05,72.7868,-56.1549,-0.18,69,100,7.14
1,1,Toora-Khem,RU,2021-03-29 19:51:06,52.4675,96.1100,26.15,96,95,4.21
2,2,Saint-Philippe,RE,2021-03-29 19:51:06,-21.3585,55.7679,77.00,78,0,4.61
3,3,Karratha,AU,2021-03-29 19:51:06,-20.7377,116.8463,87.84,41,35,6.87
4,4,Sahuaripa,MX,2021-03-29 19:51:07,29.0500,-109.2333,90.72,9,100,5.23

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Saint-Philippe,RE,2021-03-29 19:51:06,-21.3585,55.7679,77.00,78,0,4.61
3,3,Karratha,AU,2021-03-29 19:51:06,-20.7377,116.8463,87.84,41,35,6.87
7,7,Sinnamary,GF,2021-03-29 19:51:08,5.3833,-52.9500,79.14,85,81,14.32
9,9,Luanda,AO,2021-03-29 19:51:08,-8.8368,13.2343,80.60,78,20,6.91
13,13,Rikitea,PF,2021-03-29 19:51:10,-23.1203,-134.9692,79.36,69,28,16.60
16,16,Pyapon,MM,2021-03-29 19:51:11,16.2833,95.6833,78.75,65,99,8.75
22,22,Avarua,CK,2021-03-29 19:51:13,-21.2078,-159.7750,80.60,83,75,13.80
27,27,Puerto Ayora,EC,2021-03-29 19:51:15,-0.7393,-90.3518,82.40,78,20,11.50
28,28,Cidreira,BR,2021-03-29 19:51:15,-30.1811,-50.2056,77.25,53,2,9.33
33,33,Ciudad Bolivar,VE,2021-03-29 19:51:17,8.1222,-63.5497,89.87,42,100,13.89

In [20]:
preferred_cities_df.count()

City_ID       204
City          204
Country       202
Date          204
Lat           204
Lng           204
Max Temp      204
Humidity      204
Cloudiness    204
Wind Speed    204
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2   Saint-Philippe      RE     77.00 -21.3585   55.7679
3         Karratha      AU     87.84 -20.7377  116.8463
7        Sinnamary      GF     79.14   5.3833  -52.9500
9           Luanda      AO     80.60  -8.8368   13.2343
13         Rikitea      PF     79.36 -23.1203 -134.9692
16          Pyapon      MM     78.75  16.2833   95.6833
22          Avarua      CK     80.60 -21.2078 -159.7750
27    Puerto Ayora      EC     82.40  -0.7393  -90.3518
28        Cidreira      BR     77.25 -30.1811  -50.2056
33  Ciudad Bolivar      VE     89.87   8.1222  -63.5497

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,Karratha,AU,87.84,-20.7377,116.8463,ibis Styles Karratha
7,Sinnamary,GF,79.14,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
9,Luanda,AO,80.60,-8.8368,13.2343,LANDU MARINEZA LUFUANDU TONI
13,Rikitea,PF,79.36,-23.1203,-134.9692,Pension Maro'i
16,Pyapon,MM,78.75,16.2833,95.6833,Aung Naing Thu Motel
22,Avarua,CK,80.60,-21.2078,-159.7750,Paradise Inn
27,Puerto Ayora,EC,82.40,-0.7393,-90.3518,Finch Bay Galapagos Hotel
28,Cidreira,BR,77.25,-30.1811,-50.2056,Hotel Castelo
33,Ciudad Bolivar,VE,89.87,8.1222,-63.5497,Hotel Edi

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))