## Deliverable 3. Create a Travel Itinerary Map.

In [30]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Kharan,PK,76.15,clear sky,28.5833,65.4167,Dil Aram Bangla
1,3,Balkanabat,TM,59.16,few clouds,39.5108,54.3671,Nebitchi Hotel
2,4,Jamestown,US,57.99,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,5,Florida,US,79.00,scattered clouds,28.7505,-82.5001,Sportsmens Cove
4,6,Port Elizabeth,ZA,77.00,clear sky,-33.9180,25.5701,39 On Nile Guest House

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [11]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Requena"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Requena"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Aras"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Llanes"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Muros"] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
328,596,Requena,ES,70.0,broken clouds,39.4883,-1.1004,Hotel Avenida

In [49]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[['Lat', 'Lng']].to_numpy()[0])
end = tuple(vacation_end[['Lat', 'Lng']].to_numpy()[0])
stop1 = tuple(vacation_stop1[['Lat', 'Lng']].to_numpy()[0])
stop2 = tuple(vacation_stop2[['Lat', 'Lng']].to_numpy()[0])
stop3 = tuple(vacation_stop3[['Lat', 'Lng']].to_numpy()[0])

In [56]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
start_end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")

fig = gmaps.figure()
fig.add_layer(start_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,596,Requena,ES,70.00,broken clouds,39.4883,-1.1004,Hotel Avenida
1,299,Aras,ES,73.99,clear sky,42.5617,-2.3560,Jardines de Viana Spa
2,557,Llanes,ES,81.00,broken clouds,43.4198,-4.7549,Hotel La Paz
3,73,Muros,ES,72.00,broken clouds,42.7762,-9.0603,Apartment Av. Castelao

In [72]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Weather Description</b></dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [73]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))